<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.IOutinPlaceDao">
  <resultMap id="BaseResultMap" type="com.entity.OutinPlace">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="place_no" jdbcType="INTEGER" property="placeNo" />
    <result column="createstorehouse_id" jdbcType="VARCHAR" property="createstorehouseId" />
    <result column="createstorearea_id" jdbcType="VARCHAR" property="createstoreareaId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="place_height" jdbcType="INTEGER" property="placeHeight" />
    <result column="column" jdbcType="INTEGER" property="column" />
    <result column="out_no" jdbcType="VARCHAR" property="outNo" />
    <result column="is_used" jdbcType="INTEGER" property="isUsed" />
  </resultMap>
  
<!--   添加出入口配置 -->
  <insert id="insertOutPlace" parameterType="com.entity.OutinPlace">
    insert into outin_place (id, place_no, createstorehouse_id, 
      createstorearea_id, type, place_height, 
      column, out_no, is_used
      )
    values (#{id,jdbcType=VARCHAR}, #{placeNo,jdbcType=INTEGER}, #{createstorehouseId,jdbcType=VARCHAR}, 
      #{createstoreareaId,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{placeHeight,jdbcType=INTEGER}, 
      #{column,jdbcType=INTEGER}, #{outNo,jdbcType=VARCHAR}, #{isUsed,jdbcType=INTEGER}
      )
  </insert>
  
  <!--   修改出入口配置 -->
  <update id="updateOutPlace" parameterType="com.entity.OutinPlace">
    update outin_place
    set place_no = #{placeNo,jdbcType=INTEGER},
      createstorehouse_id = #{createstorehouseId,jdbcType=VARCHAR},
      createstorearea_id = #{createstoreareaId,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      place_height = #{placeHeight,jdbcType=INTEGER},
      column = #{column,jdbcType=INTEGER},
      out_no = #{outNo,jdbcType=VARCHAR},
      is_used = #{isUsed,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 通过id查找出入口配置 -->
  <select id="searchOutinPlaceById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from outin_place
    where id = #{0}
  </select>

<!-- 通过id删除出入口配置 -->
  <delete id="deleteOutPlaceById" parameterType="java.lang.String">
    delete from outin_place
    where id = #{0}
  </delete>
  
  <!-- 查询所有出入口配置 -->
  <select id="searchOutPlace"  parameterType="java.lang.String" resultType="hashmap">
      select * from outin_place
  </select>
  
   <!-- 通过根据类型查找出入口配置-->
  <select id="selectOutinPlaceByType" parameterType="java.lang.Integer"  resultMap="BaseResultMap">
      select * from outin_place op where op.type=#{type} limit 0,1
  </select>
  
   <!-- 根据出口编号查找取货台 -->
  <select id="selectOutinPlaceByOutNo" parameterType="java.lang.String"  resultMap="BaseResultMap">
    select * from outin_place op where op.out_no=#{outNo} limit 0,1
  </select>
  
</mapper>